In [55]:
import pandas as pd
import os, sys, random
from nltk.tokenize import  WordPunctTokenizer
from collections import Counter
import json, codecs, re

In [2]:
DIR = "../../../train_test/"

In [4]:
data_set_citations = pd.read_json(DIR+'data_set_citations.json', encoding='utf-8')
publications = pd.read_json(DIR+'publications.json', encoding='utf-8')

In [5]:
data_set_citations

,citation_id,data_set_id,mention_list,publication_id,score
0,1945,311,[Deutsche Bundesbank's balance of payments sta...,105,1
1,1946,312,"[Ustan, corporate balance sheet data, corporat...",105,1
2,1957,321,[Monthly Balance Sheet Statistics],109,1
3,1958,307,[],109,1
4,1959,322,[Deutsche Bundesbank's Securities Holdings Sta...,109,1
5,1960,323,[monthly balance sheet statistics],110,1
6,1961,324,[profit and loss statements],110,1
7,1962,320,"[credit register, quarterly credit register to...",110,1
8,1963,325,[quarterly statistics on bank's securities hol...,110,1
9,1964,326,[monthly balance sheet statistics],111,1
10,1971,331,"[BISTA, balance sheet statistic, bank-balance ...",115,1
11,1972,320,[],115,1
12,1973,305,[],116,1
13,1974,332,[],116,1
14,1975,333,[MFI statistics],116,1
15,1980,337,"[External Position Report, External Position R...",119,1
16,1981,338,[Monthly balance sheet statistics (Deutsche Bu...,119,1
17,1986,305,"[BAKIS, credit register]",122,1
18,1987,340,[balance sheet data],122,1
19,1988,320,[credit register],122,1
20,1989,312,"[Corporate Balance Sheet Statistics, balance s...",122,1
21,1990,305,"[BAKIS, credit register]",123,1
22,1991,320,"[MiMiK, MiMik, credit register]",123,1
23,1992,305,[],124,1
24,1993,341,"[Deutsche Bundesbank's monthly balance sheet, ...",124,1
25,1994,342,"[Zinsstatistik, interest rate report (Zinsstat...",124,1
26,1995,343,"[supervisory survey \""Profitability and resili...",125,1
27,1996,307,[],125,1
28,1998,305,[BAKIS],127,1
29,1999,345,"[Bista, monthly balance sheet statistics]",127,1
...,...,...,...,...,...
5469,8601,1317,"[FBI's Supplementary Homicide Report, SHR, Sup...",3143,1
5470,8602,1318,"[FBI's Supplementary Homicide Report, SHR, Sup...",3143,1
5471,8603,1103,"[FBI's Supplementary Homicide Report, SHR, Sup...",3143,1
5472,8604,1104,"[FBI's Supplementary Homicide Report, SHR, Sup...",3143,1
5473,8605,1105,"[FBI's Supplementary Homicide Report, SHR, Sup...",3143,1
5474,8606,1106,"[FBI's Supplementary Homicide Report, SHR, Sup...",3143,1
5475,8607,1107,"[FBI's Supplementary Homicide Report, SHR, Sup...",3143,1
5476,8608,1319,"[FBI's Supplementary Homicide Report, SHR, Sup...",3143,1
5477,8609,1242,"[FBI's Supplementary Homicide Report, SHR, Sup...",3143,1
5478,8610,1320,"[FBI's Supplementary Homicide Report, SHR, Sup...",3143,1
5479,8611,1321,"[FBI's Supplementary Homicide Report, SHR, Sup...",3143,1
5480,8612,1322,"[FBI's Supplementary Homicide Report, SHR, Sup...",3143,1
5481,8613,1323,"[HRMS, Health Reform Monitoring Survey]",3144,1
5482,8614,1324,"[HRMS, Health Reform Monitoring Survey, Health...",3144,1
5483,8615,1124,"[HRMS, Health Reform Monitoring Survey]",3144,1
5484,8616,1125,"[HRMS, Health Reform Monitoring Survey]",3144,1
5485,8617,1126,"[HRMS, Health Reform Monitoring Survey]",3144,1
5486,8618,1206,"[GSS, General Social Survey]",3145,1
5487,8619,714,"[NCS, National Congregations Study]",3145,1
5488,8620,1178,"[IHDS, IHDS Survey, IHDS-2, India Human Develo...",3146,1
5489,8621,1325,"[SII, Study of Instructional Improvement, Stud...",3147,1
5490,8622,438,"[Add Health, National Longitudinal Study of Ad...",3148,1
5491,8623,488,"[MIDUS, MIDUS 1, MIDUS I, Midlife in the Unite...",3149,1
5492,8624,537,"[MIDUS, MIDUS 2, MIDUS II, Midlife in the U.S....",3149,1
5493,8625,1326,"[YPP, Youth Participatory Politics (YPP) Surve...",3150,1
5494,8626,1327,[Challenge and Promise of Using Community Poli...,3151,1
5495,8628,651,"[FFCWS, Fragile Families and Child Wellbeing S...",3153,1
5496,8629,1329,"[CNES, Cross National Election Study, Cross-Na...",3154,1
5497,8632,1330,"[Family Life Project, Family Life Project, Pha...",3157,1
5498,8633,1049,"[HBSC, Health Behavior in School-aged Children]",3158,1

In [17]:
# construct the test document set 
# these docs should be excluded from the fragment data
test_n = 100  # number of test documents

In [18]:
test_ids = random.sample(list(publications['publication_id']), test_n)

In [20]:
def _extract(dir_name='files/text/', extension='.txt'):
        # current_dir = os.getcwd()
        # dir_name = current_dir + '/' + dir_name
        dir_name = DIR + dir_name
        full_text = {}
        for item in os.listdir(dir_name):
            if item.endswith(extension):
                file_name = os.path.abspath(dir_name + '/' + item)
                with codecs.open(file_name, 'r') as f:
                    try:
                        lines = f.readlines()
                        #TODO document structure
                        #text = ' '.join([s.strip() for s in lines])
                        text = ' '.join([s.strip() for s in lines])
                        text = re.sub('\d', '0', text)
                        text = re.sub('[^ ]- ', '', text)
                        full_text[item] = text
                    except:
                        pass
        return full_text

In [21]:
full_text = _extract()

In [22]:
full_text_series = pd.Series()

In [23]:
count = 0
for i, file_id in zip(publications.index, publications['publication_id']):
    try:
        full_text_series.loc[i] = full_text[str(file_id)+'.txt']
        count += 1
    except:
        pass

In [24]:
count

5000

In [25]:
publications.insert(6, 'full_text', pd.Series)
publications['full_text'] = full_text_series

In [29]:
data_set_citations.loc[0]['citation_id']

1945

In [30]:
def findall_lower(p, s):
    i = s.lower().find(p.lower())
    while i != -1:
        yield i
        i = s.lower().find(p.lower(), i + 1)

In [56]:
outdir='../../data_doc/'
test_file_ids = open(outdir+'test_file_ids', 'w') 
golden_data = open(outdir+'golden_data', 'w')
test_file = open(outdir+'test_file', 'w')
pub_id = list(data_set_citations['publication_id'])
for t_id in test_ids:
    pub_row = publications.loc[publications['publication_id']==t_id]
    pub_text = pub_row['full_text'].values[0]
    pub_text_tokens = list(WordPunctTokenizer().tokenize(pub_text))
    pub_text_spans = list(WordPunctTokenizer().span_tokenize(pub_text))
    
    res_line = []
    dataset_ids = [pub_id.index(i) for i in pub_id if i==t_id]
    for d_idx in dataset_ids:
        d_row = data_set_citations.loc[d_idx]
        for mention_text in d_row['mention_list']:
            mention_text = re.sub('\d', '0', mention_text)
            mention_text = re.sub('[^ ]- ', '', mention_text)
            mention_text_spans = list(WordPunctTokenizer().span_tokenize(mention_text))
            
            index_finder_lower = findall_lower(mention_text, pub_text)
            found_indices = [idx for idx in index_finder_lower]
            
            for find_index in found_indices:
                try:
                    if find_index != -1:
                        mention_text_spans = [(indices[0] + find_index, indices[1] + find_index) for indices in mention_text_spans]

                        res_line.append((pub_text_spans.index(mention_text_spans[0]), 
                                         pub_text_spans.index(mention_text_spans[-1]), 
                                         d_row['data_set_id'], d_row['publication_id']))
                except:
                    pass
    res_line = list(set(res_line))
    if len(res_line)==0:
        # no mentions as all
        res_line.append((0, 0, 0, t_id))
    test_file_ids.write(str(t_id)+'\n')
    test_file.write(pub_text+'\n')
    i = 0
    for c in res_line:
        if i > 0:
            golden_data.write(' | '+str(c[0])+' '+str(c[1])+' '+str(c[2])+' '+str(c[3]))
        else:
            golden_data.write(str(c[0])+' '+str(c[1])+' '+str(c[2])+' '+str(c[3]))
        i+=1
    golden_data.write('\n')

test_file_ids.close()
golden_data.close()
test_file.close()